
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="margin-top: 20%;">
    <h1>Welcome to the Client Dashboard</h1>
    <a class="btn btn-primary btn-lg" href="/Home/Dashboard">Enter Dashboard</a>
</div>

