@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<script type="text/javascript">
    function callCleanup() {
        fetch('/api/client/remove', {
            method: 'DELETE'
        })
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('Failed to clean up clients');
                }
            })
            .then(data => {
                console.log('Cleanup successful:', data.message);
            })
            .catch(error => {
                console.error('Error calling cleanup:', error);
            });
    }

    // Call the cleanup every 5 seconds
    setInterval(callCleanup, 5000);
</script>
